{% extends 'base.html' %}

{% block content %}
<main class="container p-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi iste quasi quod fugit reiciendis voluptatem porro consequatur amet sapiente Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate id eaque maxime cumque. Ipsum, quam minus assumenda reiciendis sint soluta vero porro fuga accusamus sapiente, quasi itaque. Consequuntur, blanditiis ea? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium fuga sequi nam error incidunt, quisquam adipisci necessitatibus veritatis magni officia veniam possimus ipsam voluptatum nemo eius maxime rerum velit voluptatem.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signup/">Signup</a>
            <a class="btn btn-dark" href="signin">Signin</a>
        </div>
    </section>
    
</main>
{% endblock %}